  .holmes-brand {
    margin-bottom:0;
  }

  .holmes-brand span{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    text-shadow:1px 1px 2px #aaa;
    color:#444;
    margin-bottom:0;
  }

.holmes-brand a{
  color:#444;
}

.holmes-brand a:hover{
  text-decoration:none;
}

  .maincont {
    padding-top:130px;
  }

.social-buttons {
  margin-top: 12px;
  padding-right: 30px;
}

h1.lessonshead {
  font-family: 'Indie Flower', cursive;
}