  .holmes-brand {
    margin-bottom:0;
  }

  .holmes-brand span{
    font-family: 'Bad Script', cursive;
    font-size: 22px;
    text-shadow:1px 1px 2px #aaa;
    color:#444;
    margin-bottom:0;
  }

.holmes-brand a{
  color:#444;
}

.holmes-brand a:hover{
  text-decoration:none;
}

  .maincont {
    padding-top:130px;
  }

#social-buttons {
  padding-right: 25px;
}

#social-buttons a {
  padding-left: 0;
}

#sc-button a {
  color:#f76700;
}

#sc-button a:hover {
  text-shadow: 0px 0px 2px #f76700;
}

#fb-button a {
  color:#3b5998;
}

#fb-button a:hover {
  text-shadow: 0px 0px 2px #3b5998;
}

.lessonshead h1{
  font-family: 'Bad Script', cursive;
  font-size: 63px;
}

.lessonshead h2{
  font-family: 'Bad Script', cursive;
  font-size: 48px;
}

.lessonshead h3{
  font-weight:200;
}