  .holmes-brand {
    margin-bottom:0;
  }

  .holmes-brand span{
    font-family: 'Bad Script', cursive;
    font-size: 22px;
    text-shadow:1px 1px 2px #aaa;
    color:#444;
    margin-bottom:0;
  }

.holmes-brand a{
  color:#444;
}

.holmes-brand a:hover{
  text-decoration:none;
}

  .maincont {
    padding-top:130px;
  }

.social-buttons {
  margin-top: 12px;
  padding-right: 30px;
}

.lessonshead h1{
  font-family: 'Bad Script', cursive;
  font-size: 63px;
}

.lessonshead h2{
  font-family: 'Bad Script', cursive;
  font-size: 48px;
}

.lessonshead h3{
  font-weight:200;
}